.user-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 

  margin-top: 6.5vw;
  }
  .user-detail h3{
    font-weight: 600;
  }
  .avatar {

    width: 35vw;
    height: 35vw;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid #F6F8F9;
    background-color: #F6F8F9;
  }
  
  .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .info {
    flex: 1;
    text-align: center;
    line-height: 3.25vw; /* Adjusted line height */

  }
  
  .info p {

    font-weight: 200;
    line-height: 0; /* Adjusted line height */
    color: #333;
  }

  .startup-block-detail {
    display: flex;
    align-items: center;
    
    padding: 2vw;
    padding-left: 4vw;
    background-color: #e1e1e118;
  }
  
  .startup-block-avatar {
    margin-right: 15px;
  }
  
  .startup-block-avatar img {
    width: 17.5vw; /* Adjust size as needed */
    height: 17.5vw; /* Adjust size as needed */
    border-radius: 15%;
    object-fit: cover;
  }
  
  .startup-block-info {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .startup-block-info .startup-block-name {
    font-weight: bold;
    font-size: 6.5vw; /* Adjust size as needed */
    margin: 0;
  }
  
  .startup-block-info .startup-block-sector {
    font-weight: normal;
    font-size: 4.3vw; /* Adjust size as needed */
    margin: 0;
  }
  
  .startup-block-arrow {
    margin-left: auto; /* Move the arrow to the rightmost position */
    margin-right: 5vw;
  }