:root {

  --MahidolBlue: #0005AF;
  --BGC : #F5F5F5;
  --UphasiaGreen : #17AA7C;
}

/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap');

/* Apply the font to the entire website */
body {
  font-family: 'Gothic A1', sans-serif;
}

/* Ensure consistency across common elements */
h1, h2, h3, h4, h5, h6 {
    font-family: inherit; /* Ensures heading tags also use the body font */
}

p, a, span, div, li, ul, ol, input, textarea, button {
    font-family: inherit; /* Ensures other common elements also use the body font */
}

.App {
  text-align: center;
  background-color: var(--BGC);
  min-height: 90vh;
  box-sizing: border-box; 
  overflow-y: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
  /* Add these properties to limit width and center content horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:  2vmin;
  color: white;
  max-width: 100%; /* Limit width to 100% */
  margin: 0 auto; /* Center content horizontally */
}

/* App.css */

.static-bar {
position: fixed;
width: 100vw;


color: #fff;
display: flex;
align-items: center;
z-index: 2;
padding-top: 5vh;
padding-left: 2vw;
padding-right: 2vw;
display: flex;
justify-content: space-between;



@media screen and (min-width: 1024px) {
  /*eight: 10vw; */ /*  iPads  */
}

@media screen and (max-height: 600px) {
  height: 5vw; /* laptops */
}

}

.title-image {


width: 15vw;


}

.left-content {

align-items: center;

margin-left: 5vw;
}

.Middle-content{

  color: var(--MahidolBlue);
   -size: 1.5vw;

}



.ProfileBox {
background-color: var(--MahidolBlue); /* Green color for the box */
width: 20vw;
height: 6vw;


display: flex;
align-items: center;
align-content: center;

}

.right-content {
padding: 2.5vw;
margin-right: 5vw;


}




.ProfileText{
margin-left: 10%; /* Adjust the space between the SVG and the text */
color: white;
font-weight: bold;

text-decoration: none;
padding-right: 5%;
font-size: 1.5vw;

}
.UserIcon{
width: 20%;
margin-left: 10%;

}

.etcBoard{
  display:flex;
  margin-top: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
  background-color: #ffffff00;
  width: 60%;
  height: 60vh;

  border-radius: 5%;
 
  justify-content: center;
  align-items: center;
}

.etcBoard img {
  width: 95%;
}

.etcBoard2{

  background-color: #ffffff00;
  width: 60%;
  height: 60vh;
  padding-top: 1vh;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}


.etcBoard2 img{
  width: 80%;

}

.etcBoard3{

  background-color: #ffffff;
  width: 100%;
  height: 45vh;
  margin-top: 0.5vh;
  margin-bottom: 3vh;
  border-radius: 40px;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
}

.etcBoard4{

  background-color: #ffffff;
  width: 100%;
  height: 10vh;
  display: flex;
  border-radius: 40px;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;


}

.etcBoard4 form {
  display: flex;
  align-items: center;
  gap: 20px;
}

.etcBoard4 label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.etcBoard4 select, .etcBoard4 input[type="text"] {
  padding: 5px;
  font-size: 16px;
}

.etcBoard4 .SubmitIcon{
  width: 3vw;
}

.modetab {

width: 25vw;
padding-left: 2%;
padding-right: 2%;
padding-bottom: 2%;
background-color: #ffffff;
margin-top: 1vw;
margin-right: 1vw;
margin-bottom: 1vw;
margin-left: 2vw;
color: #fff;  
border-radius: 40px;
box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5); /* Horizontal offset, Vertical offset, Blur radius, Shadow color with alpha */
display: flex;
flex-direction: column;
z-index: 3;
font-weight: bold;



@media screen and (min-width: 1024px) {

}


@media screen and (max-height: 600px) {

}

}

.modetab2 {

  width: 40vw;
  height: 50vh;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  background-color: #ffffff;
  margin-top: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  margin-left: 2vw;
  color: #000000;  
  border-radius: 5%;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5); /* Horizontal offset, Vertical offset, Blur radius, Shadow color with alpha */
  display: flex;
  flex-direction: column;
  z-index: 3;
  font-weight: bold;
}

.sidebar-option {

height: 6.5vw;
margin-top: 0.5vw;
margin-bottom: 0.5vw;
padding: 0.1vw;
color: var(--MahidolBlue);
cursor: pointer;
justify-content: center;
display: flex;
align-items: center;
border: 0.5vw solid var(--MahidolBlue); /* Add a blue border */
border-radius: 5%;
font-size: 2vw;
}

.sidebar-option.active {
background-color: #5e99f808;
}

.sidebar-option:hover {

color: white;
background-color: var(--MahidolBlue);
}

.Dashboard {
margin-top: 22vh;
background-color: var(--BGC);
display: flex;
overflow-x: hidden; /* Prevents horizontal scrolling */
overflow-y: hidden; /* Prevents vertical scrolling */

justify-content: center;
}



.ModeHeading {
  padding-top: 2vw;
  
  align-items: center; /* Center vertically within the div */
  color: var(--MahidolBlue);

  font-size: 1.5vw;

}

.ModeHeading h1 {
  text-align: left; /* Align text to the left */
}
.ModeHeading textarea {
  width: 100%;
  height: 100%;
}


.ContentBoard{



height: 80vh;
width: 72vw;
position: fixed;
background-color: #ffffff;

@media screen and (min-width: 1024px) {
  margin-top: 7vh;
  margin-left: 20vw;
}

@media screen and (max-height: 600px) {
 margin-top: 10vh;
 margin-left: 22vw;
}
}

.ProfileInfoTab{
  margin-top: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
  background-color: #ffffff;
  width: 80vw;
  height: 70vh;
  box-shadow: 0 0  rgba(0, 0, 0, 0.5); 
  border-radius: 2%;
  box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5); 
}

.Placeholder {

  height: 60%;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This will make the container take the full height of the viewport */
}

/* Login and Register Section */

.LogRegbox {
  display: flex;
  gap: 0.5vw; /* Add some space between buttons */
}

.UphasiaMiddleLogo{
  width: 40vw;
}

.LogRegContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.LogRegbox1, .LogRegbox2 {
  padding: 1vw 2vw;
  border: none;
  cursor: pointer;
  font-size: 1.6vw;
  font-weight: bold;
  margin: 0 1.5vw;
}

.LogRegbox1 {
  background-color: var(--MahidolBlue);
  color: white;
  transition: color 1s ease;
  transition: background-color 0.3s ease, color 0.0s ease; 
}

.LogRegbox2 {
  background-color: rgba(240, 248, 255, 0);
  color: var(--MahidolBlue);
  transition: background-color 0.3s ease, color 0.0s ease; 
}


.LogRegbox1:hover {
  background-color: var(--UphasiaGreen);
 
}

.LogRegbox2:hover {
  background-color: var(--UphasiaGreen);
  color: white;
}


.input-placeholder{
  color: var(--MahidolBlue);
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 16px;
  text-transform: uppercase;
 
  cursor: default;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: left;
}

input::placeholder {
  color: #ffffff;
}

.submit-button{
  background-color: var(--MahidolBlue); 
  color: rgb(255, 255, 255); 
  border: none; 
  margin-top: 20px;
  padding: 10px 20px; 
  text-align: center; 
  text-decoration: none; 
  display: inline-block; 
  font-size: 18px; 
  border-radius: 8px; 
  cursor: pointer; 
  font-family:'Courier New', Courier, monospace;
}
.submit-button:hover{

  box-shadow: 0 8px 24px 0 rgba(26, 16, 112, 0.2);
}

.form-style {
  position: relative;
  padding: 10px;
  height: 40px;
  width: 414px;
  max-width: 80vw;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: var(--MahidolBlue);

  border: 1px solid rgb(39, 39, 39);
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 200ms linear;
  transition: border-color .2s ease-in-out;
}
.form-style1 {
  position: relative;
  padding: 10px;
  height: 20px;
  width: 200px;
  max-width: 80vw;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: var(--MahidolBlue);
  background-color: #cfcfcf;
  border: 1px solid rgb(124, 124, 124);
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 200ms linear;
  transition: border-color .2s ease-in-out;
}
.form-style2 {
  position: relative;
  padding: 10px;
  height: 20px;
  width: 200px;
  max-width: 80vw;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: var(--MahidolBlue);
  background-color: var(--MahidolBlue);
  border: 1px solid rgb(124, 124, 124);
  border-radius: 3px;
  outline: none;
  -webkit-transition: all 200ms linear;
  transition: border-color .2s ease-in-out;
}

/* Login and Register Section */

.LoginBox{
  border: 1px solid rgb(124, 124, 124);
}

.RegisterBox{
  border: 1px solid rgb(124, 124, 124);
}

.SFA-Input{
  display: flex;
}